APP_NAME=""
APP_VERSION=""
APP_VERSION_NAME=""
ADDRESS=""
PORT=""
PROTOCOL=""
ENVIRONMENT=""
API_ADDRESS=""
API_KEY=""
API_PROTOCOL=""
API_AUTH_ADDRESS=""
API_VERSION=""
DAEMONIZATION=""
WORKER_COUNT=""
TIME_BUFFER=""
RATE_LIMIT=""
SSL_CERT=""
SSL_KEY=""
SSL_VERIFY_PEER="false"
SSL_ALLOW_SELF_SIGNED="false"
SECRET=""
MYSQL_RUN="false"